absl-py
alembic
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Authlib
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cryptography
css
cycler
cyclopts
databricks-sdk
debugpy
decorator
defusedxml
distro
Django
dnspython
docker
docstring_parser
docutils
email-validator
et_xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
fastmcp
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-cloud-automl
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
lance-namespace
lance-namespace-urllib3-client
lark
lazy-object-proxy
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcp
mdurl
mistune
ml_dtypes
mlflow
mlflow-skinny
mlflow-tracing
more-itertools
mpmath
mysql-connector-python
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
openpyxl
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
packaging
pandas
pandocfilters
parse
parso
pathable
pillow
platformdirs
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pylance
pyparsing
pyperclip
pyreadstat
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pywin32
pywinpty
PyYAML
pyzmq
qr
qrcode
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rich-rst
rpds-py
rsa
safetensors
savReaderWriter
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
sse-starlette
stack-data
starlette
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uvicorn
waitress
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xlrd
zipp
